/*Transition*/
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

/* Media for different Screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

body{
  justify-content: center;
  position: relative;
}
.container {
  min-height: calc(90vh - 200px);
  margin: 0 auto;
  width: 90%;
  font-family: Nunito;  
  padding-bottom: 40px ;
}
